@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Public+Sans&display=swap');

.landing-page {
    width: 100%;
    height: 100%;
}

.navbar-landing {
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    align-content: center;
    display: flex;
}


.navbar-landing ul {
    overflow: hidden;
    list-style-type: none;
}

.navbar-landing li {
    width: fit-content;
    display: inline-block;
}

.navbar-logo {
    width: fit-content;
    height: fit-content;
}

.navbar-logo h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 275%;
    font-weight: 600;
    background: linear-gradient(to right, #7F4FE7, #C651E3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.navbar-logout-button {
    margin-left: auto;
    position: relative;
}

.navbar-logout-button button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    background: #7F4FE7;
    border-radius: 15px;
    color: white;
    border: transparent;
}

.navbar-logout-button button:hover {
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.24);
}

.navber-logout-button button:hover {
    cursor: default;
}

.main-body-landing {
    width: 50%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
}

.main-message-landing {
    height: fit-content;
    width: fit-content;

}


.main-body-landing h1 {
    font-size: 65px;
    text-align: left;
}


.main-msg-regular-landing {
    color: #7F4FE7;
    font-weight: 500;
}

.main-msg-gradient-landing {
    font-weight: 500;
    background: -webkit-linear-gradient(#C651E3, #8854f8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.search-button-div {
    height: 50px;
    width: 150px;
}

.search-button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-size: 20px;
    float: left;
    border: transparent;
    background: -webkit-linear-gradient(left, #C651E3, #8854f8);
    color: white;
}

.search-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.15);
}

.search-form {
    float: right;
    width: 25%;
    margin: 50px;
}